:root {
  --theme-darkest: #000;
  --theme-dark: #111;
  --theme-base: #1c1c1c;
  --theme-light: #777;
  --theme-lightest: #999;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}

#root {
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  width: 100%;
  height: 100%;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
}

.App {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  background: var(--theme-base);
  color: white;
}

.AppPage {
  overflow: auto;
  padding: 1rem;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
